@import 'theme.scss';
@import 'normalize.scss';

@font-face {
  font-family: 'PacificoRegular';
  src: url('/font/Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STXingkai';
  src: url('/font/STXingkai.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Krungthep';
  src: url('/font/Krungthep.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconfont'; /* Project id 4446240 */
  src:
    url('//at.alicdn.com/t/c/font_4446240_ow9rmlhax3.woff2?t=1709606643804')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_4446240_ow9rmlhax3.woff?t=1709606643804')
      format('woff'),
    url('//at.alicdn.com/t/c/font_4446240_ow9rmlhax3.ttf?t=1709606643804')
      format('truetype');
}
