@import 'theme.scss';
@import 'normalize.scss';

@font-face {
  font-family: 'PacificoRegular';
  src: url('/font/Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STXingkai';
  src: url('/font/STXingkai.ttf');
  font-weight: normal;
  font-style: normal;
}
