@font-face {
  font-family: 'PacificoRegular';
  src: url('./Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STXingkai';
  src: url('./STXingkai.ttf');
  font-weight: normal;
  font-style: normal;
}
